<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>
            {% block title %}{% endblock %} | {{ sitename|e }}
        </title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
        <link href="{{ asset('build/admin/form.css') }}" rel="stylesheet">
        <link href="{{ asset('build/main/header.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body>
    {{ include('genesis/main/header.html.twig') }}
    {% block content %}{% endblock %}
    </body>
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/admin/form.js') }}"></script>
    <script src="{{ asset('build/main/header.js') }}"></script>
    {% block scripts %}{% endblock %}
</html>