{% extends 'genesis/profile/profile.html.twig' %}

{% block content %}
<main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="container">
            <form method="POST" id="main_info_form">
            {% if message is defined %}
                <div class="alert alert-success text-center">{{ message|e }}</div>
            {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_id) }}">
                <div class="row">
                {% for name, value in fields %}
                    <div class="col">
                        <p><label for="{{ name|e }}">{{ name|e }}</label></p>
                        <input type="text" id="{{ name|e }}" name="{{ name|e }}" value="{{ value|e }}">
                    </div>
                {% endfor %}
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary width-fixed-button" id="main_info_submit_button">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ asset('build/profile/main_info.js') }}"></script>
{% endblock %}
