<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>
            {% block title %}{% endblock %} | {% block sitename %}{% endblock %}
        </title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <style>
            {{ include('genesis/style/fonts/ubuntu.html.twig') }}
        </style>
        <link href="{{ asset('build/main/main.css') }}" rel="stylesheet">
        <link href="{{ asset('build/main/header.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {{ include('genesis/content/people_circle.html.twig') }}
        {{ include('genesis/main/header.html.twig') }}
        {% block content %}{% endblock %}
    </body>
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/style/fonts/ubuntu.js') }}"></script>
    <script src="{{ asset('build/main/main.js') }}"></script>
    <script src="{{ asset('build/main/header.js') }}"></script>
    {% block scripts %}{% endblock %}
</html>