{% extends 'genesis/main/main.html.twig' %}

{% block title %}
    {{ title|e }}
{% endblock %}

{% block styles %}
        <link href="{{ asset('build/main/post.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
        <main class="main-post main-text">
            <h1 style="opacity: 0%">{{ title|e }}</h1>
            <div class="post-metadata row" style="opacity: 0%">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    Автор: {{ author|e }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    Дата публикации: {{ date_created|e }}
                </div>
            </div>
            <div class="post-content" style="opacity: 0%">{{ content|e }}</div>
        </main>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('build/main/post.js') }}"></script>
{% endblock %}
